# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# IDEs
.vscode/
.idea/

# Environment variables
.env

# Database
*.db
*.sqlite3

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/

add Python .gitignore
